*{
    box-sizing: border-box;
  }
.input-field{
    display: flex;
    width: 90%;
    margin: 10px;
    justify-content: space-around;
    background-color:rgb(77, 79, 99);
}
.input-field button{
    width: 100%;
    margin: 5px;
    text-align: left;
    background-color:rgb(77, 79, 99);
    color: floralwhite;
  
    
}
.input-field label{
    width: 40%;
    margin: 5px;
    text-align: left;
    background-color:rgb(77, 79, 99);
    color: floralwhite;
}